.nav-menu{
    display: flex;
    background-color: yellow;
    color: black;
    
    justify-content: center;

}
.nav-buttons{
    display: flex;
    flex:1;
    justify-content: space-between;

    
}
.prev-button, .menu-button, .next-button{
 width: 150px;
 height: 150px;
 background-color: rgb(57, 173, 22);


}

h1{

text-align: center;
font-size:60px;


}
.flex-recipes{
padding: 20px;
display: flex;
justify-content: center;
Flex-wrap: wrap;
gap: 15px;


}
.recipe-photo{
    width: 750px;

}


.recipe-card{
  
    
    width: 300px;
    background-color: yellow;
    border-color: black;
    border-width: 3px;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;

}


.steps p{

    font-size: 20px;


}
.description p{

    font-size: 20px;

}
.header-container{
 background-color: yellow;
 color: black;   
 display: flex;
 
 

}
.logo-svg{
  width: 80px;
  margin-left: 10px;
}

.header{
    border: 2px solid #fff;
    width: 900px;
    height: 150px;
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;


}
.socials{
    margin-right: 10px;
}
.back-button{
width: 200px;
height: 100px;
background-color: yellow;

}